.head{
    text-align: center;
    color: rgb(0, 0, 0);
    margin: auto;
    padding: 70px;
}
.cat{
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    size: 50px;
}
.sec{
    text-align: center;
}